/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
   clear: both;
}

/* start main CSS */

body {
    background-color: #000;
    font-size: 18px;
    color: #E3FFEC;
    line-height: 1.5;
    
}

header {
    margin-top: -1rem;
    width: 80%;
    margin: 0 10%;
    color: #E3FFEC;
}

main {
  width: 80%;
  margin: 0 10%;
}

footer {
  text-align: center;
  border-top: 3px solid #74A217;
}

@media screen and (max-width: 400px) {
  footer {
   margin-top: 2rem;
  }
}

a:focus {
  outline: 3px solid #74A217;
}

/* NAVIGATION */

.desktop-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    
}

.desktop-nav ul li {
    display: inline-block;
    padding: 0 2%;
    text-transform:uppercase;
}

.desktop-nav ul li a, a:visited {
    color:#74A217;
}

.hamburger-nav {
  display: none;
}
/* DESKTOP NAVIGATION */

@media screen and (min-width: 851px) {
  .desktop-nav {
    display: block;
  }

  .hamburger-nav {
    display: none;
  }

  .desktop-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    
}

.desktop-nav li {
    display: inline-block;
    padding: 0 2%;
    text-transform:uppercase;
}

.desktop-nav li a, a:visited {
    color:#74A217;
}
}

/* MOBILE NAVIGATION */


@media screen and (min-width: 401px) and (max-width: 850px) {
  .hamburger-nav {
    display: block;
  }
  .desktop-nav {
    display: none;
  }

  #mobile-nav {
    list-style-type: none;
    padding: 0;
    display: none;
    background-color: #000;
    border: 3px solid #74A217;
    z-index: 2;
    padding: 2rem;
    width: 50%;
    position: absolute;
  }
}

@media screen and (max-width: 400px) {

  .desktop-nav {
    display: none;
  }

  .hamburger-nav {
    display:block;
  }
    #mobile-nav {
      list-style-type: none;
      padding: 0;
      display: none;
      background-color: #000;
      border: 3px solid #74A217;
      z-index: 2;
      padding: 1rem;
      width: 75%;
      position: absolute;
    }
  }


/* HOMEPAGE */

.name {
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 5rem;
    font-weight: normal;
    line-height:151%;
    margin: 0;
    z-index: 1;
    position: relative;
    text-shadow: 4px 4px 10px black;
}

#hero {
    height: 20rem;
    background-image: url('./assets/images/harrison-broadbent.jpg');
    background-size: cover;
    margin-top: -7rem;
}

.hilight {
    color: #74A217;
    font-family: copperplate, serif;
    font-size: 150%;
}

@media screen and (min-width: 401px) and (max-width: 925px) {
  #hero {
    margin-top: -16rem;
  }
}

@media screen and (max-width: 400px) {
   .name {
    font-size: 2rem;
    text-align: center;
   }
}
 

section {
    background-color:black;
    color: #E3FFEC;
}

.leftie {
    text-align: left;
    font-size: 1.5rem;
    color: #74A217;
    width: 50%;
}

@media screen and (max-width: 400px) {
  .leftie {
   width: 100%;
  }
}

#orderedList {
    height: auto;
    width: 75%;
    margin-left: 25%;
    column-count: 2;
    column-fill: balance;
    display: flex;
}

#orderedList ol {
    list-style-type: square;
}

#orderedList li {
    padding-top: 1rem;
}
@media screen and (max-width: 400px) {
  #orderedList {
   width: 100%;
   margin: -25px;
  }
}

.github {
  max-height: 4rem;
  padding: 0 50%;
}


/* CAROUSEL STARTS HERE */

a a:visited a:hover {
      color: #74A217;
}
/* Slideshow container */
.carousel{
  max-width: 30rem;
  position: relative;
  margin: auto;
}

@media screen and (min-width: 401px) {
  .carousel {
    max-width: 60rem;
  }
}

.carousel h2 {
  text-align: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.mySlides2 {
  display: none;
    }

.mySlides2 img {
  width: 100%;
    }


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2rem;
  padding: 1rem;
  color: #E3FFEC;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev, .next {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slide-text {
  color: #74A217;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  width: 100%;
  margin-top:1rem;
  text-align: center;
}

.slide-text a, .slide-text a:visited, .slide-text a:hover {
      color: #74A217;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 2rem .5rem 0 .5rem;
  background-color: #E3FFEC;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot2 {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 2rem .5rem 0 .5rem;
  background-color: #E3FFEC;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover, .dot2:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /* ABOUT PAGE */

#intro h1 {
  color: #74A217;
  text-align: center;
}

.about-p {
  width: 75%;
  margin: 1rem 12.5%;
}

.about-p a, a:visited {
  color:#74A217;
}

#intro {
  display: flex;
  flex-direction: row;

}
#intro-words {
  margin-right: 4rem;
  line-height: 1;
}

#intro-words h1 {
  font-size: 4rem;
  margin: 0;
  }

  #intro-words h2 {
    text-align: center;
  }

  #intro-words p {
    line-height: 1.5;
  }

  .role {
    font-size: 1.5rem;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #E3FFEC;
  }

#selfie {
  max-width: 50%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 400px) {
  #selfie {
   display:  none;
  }

  #intro {
    display: block;
    width: 100%;
    flex-direction:initial;
    margin: 0 auto;
  }

  .about-main {
    margin: 0 10%;

  }

  #intro-words {
    margin: 0;
  }

  #intro-words h1 {
    font-size: 2rem;
  }

  #intro-words .github {
    padding: 0 35%;
  }

  .about-main h1 {
    font-size: 2rem;
  }

  .about-p {
    width: 100%;
    margin: 0;
    padding-bottom: 1rem;
  }
}

.tech img{
  height: 60px;
  width: 60px;
  background-color: white;
  border-radius: 5px;
}

/* CONTACT PAGE */

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-form {
  width: 25rem;
  flex-direction: column;
  justify-content: center;;
  display: flex;
  margin: 0 auto;
  padding:2rem;
  border: 2px dotted #74A217;
}

.contact-content .github {
  padding: 0;
}

input {
  width: 20rem;
  height: 3rem;
}

textarea {
  width: 20rem;
  height: 10rem;
}

ol li a, a:visited {
  color:#74A217;
}

.contact-content p {
  display: flex;
  justify-content: center;;
}

@media screen and (max-width: 400px) {
  input {
    width: 15rem;
  }

  textarea {
    width: 15rem;
  }

  #contact-form {
    width: 17rem;
    padding: 1rem;
  }

}
